body {
	font-family: 'latoregular';
	box-sizing: border-box;
}

.mainBackground {
	position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
	background: repeating-linear-gradient(-45deg, #EEE, #EEE 10px, #DDD 10px, #DDD 20px);
}

.screenContainer {
	background-color: #bb2323;
	box-shadow: 0 0 20px 0 rgb(0, 0, 0);
	position: absolute;
	top: 58px;
	bottom: 24px;
	left: 8px;
	right: 8px;
	border-radius: 8px;
}

.banner {
	height: 40px;
	line-height: 34px;
	text-align: center;
	color: #bb2323;
}

.bannerText {
	font-size: 1.8rem;
	text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0,0,0,.1), 0 0 5px rgba(0,0,0,.1), 0 1px 3px rgba(0,0,0,.3), 0 3px 5px rgba(0,0,0,.2), 0 5px 10px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.3), 0 20px 20px rgba(0,0,0,.25);
}

.nav {
	font-size: 0.6rem;
	height: 18px;
	text-align: center;
}

.navShadow {
	display: inline-block;
}

.navButton {
	display: inline-block;
	padding: 0 4px;
	background-color: #383838;
	background-image:
		repeating-linear-gradient(120deg, rgba(255,255,255,.1), rgba(255,255,255,.1) 1px, transparent 1px, transparent 60px),
		repeating-linear-gradient(60deg, rgba(255,255,255,.1), rgba(255,255,255,.1) 1px, transparent 1px, transparent 60px),
		linear-gradient(60deg, rgba(0,0,0,.1) 25%, transparent 25%, transparent 75%, rgba(0,0,0,.1) 75%, rgba(0,0,0,.1)),
		linear-gradient(120deg, rgba(0,0,0,.1) 25%, transparent 25%, transparent 75%, rgba(0,0,0,.1) 75%, rgba(0,0,0,.1));
	background-size: 70px 120px;
	cursor: pointer;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	box-shadow: 0 -5px 14px -5px rgb(0, 0, 0);
}

.navButton:hover {
	background-color: #bb2323;
}

.navButton-active {
	background: 0;
	background-color: #bb2323;
	cursor: default;
	z-index: 2;
	position: relative;
}

.navButton-active:hover{
	background-color: #bb2323;
}

.navLink {
	line-height: 18px;
	color: #EEE;
}

.content {
	width: 100%;
	height: 100%;
	opacity: 0;
}

.footer {
	text-align: right;
	height: 22px;
	position: absolute;
	bottom: 0px;
	right: 0;
	width: 100%;
}

.footerText {
	color: #383838;
	line-height: 22px;
	margin-right: 8px;
	font-size: 0.8rem;
}

.fade {
	-webkit-transition:  opacity 500ms;
	transition: opacity 500ms;
	opacity: 1;
}

.verticalBorder {
	width: 18px;
	height: 100%;
	background-color: #383838;
	background-image:
		repeating-linear-gradient(120deg, rgba(255,255,255,.1), rgba(255,255,255,.1) 1px, transparent 1px, transparent 60px),
		repeating-linear-gradient(60deg, rgba(255,255,255,.1), rgba(255,255,255,.1) 1px, transparent 1px, transparent 60px),
		linear-gradient(60deg, rgba(0,0,0,.1) 25%, transparent 25%, transparent 75%, rgba(0,0,0,.1) 75%, rgba(0,0,0,.1)),
		linear-gradient(120deg, rgba(0,0,0,.1) 25%, transparent 25%, transparent 75%, rgba(0,0,0,.1) 75%, rgba(0,0,0,.1));
	background-size: 70px 120px;
	position: absolute;
	top: 0;
	right: 5%;
	box-shadow: 0 0 6px 0 rgb(0, 0, 0);
}

.horizontalBorder {
	width: 100%;
	height: 12px;
	background-color: #383838;
	background-image:
		repeating-linear-gradient(120deg, rgba(255,255,255,.1), rgba(255,255,255,.1) 1px, transparent 1px, transparent 60px),
		repeating-linear-gradient(60deg, rgba(255,255,255,.1), rgba(255,255,255,.1) 1px, transparent 1px, transparent 60px),
		linear-gradient(60deg, rgba(0,0,0,.1) 25%, transparent 25%, transparent 75%, rgba(0,0,0,.1) 75%, rgba(0,0,0,.1)),
		linear-gradient(120deg, rgba(0,0,0,.1) 25%, transparent 25%, transparent 75%, rgba(0,0,0,.1) 75%, rgba(0,0,0,.1));
	background-size: 70px 120px;
	position: absolute;
	bottom: 2%;
    box-shadow: 0 0 6px 0 rgb(0, 0, 0);
}

.squareBorder {
	width: 36px;
	height: 24px;
	background-color: #383838;
	background-image:
		repeating-linear-gradient(120deg, rgba(255,255,255,.1), rgba(255,255,255,.1) 1px, transparent 1px, transparent 60px),
		repeating-linear-gradient(60deg, rgba(255,255,255,.1), rgba(255,255,255,.1) 1px, transparent 1px, transparent 60px),
		linear-gradient(60deg, rgba(0,0,0,.1) 25%, transparent 25%, transparent 75%, rgba(0,0,0,.1) 75%, rgba(0,0,0,.1)),
		linear-gradient(120deg, rgba(0,0,0,.1) 25%, transparent 25%, transparent 75%, rgba(0,0,0,.1) 75%, rgba(0,0,0,.1));
	position: absolute;
	right: 5%;
	bottom: 2%;
	margin-right: -9px;
	margin-bottom: -6px;
    box-shadow: 0 0 20px 0 rgb(0, 0, 0);
	border-radius: 8px;
	transform: rotate(-45deg);
}

@media (min-width: 340px) {
	.nav {
		text-align: left;
		padding-left: 20px;
		height: 20px;
	}
	
	.navLink {
		line-height: 20px;
	}
	
	.navShadow {
		padding: 0 1px 0 1px;
	}
	
	.screenContainer {
		top: 60px;
`   }
}

@media (min-width: 360px) {
	.bannerText {
		font-size: 2rem;
	}
	
	.banner {
		height: 44px;
	}
	
	.nav {
		font-size: 0.65rem;
	}
	
	.navButton {
		padding: 0 5px;
	}
	
	.screenContainer {
		top: 64px;
`   }
}

@media (min-width: 400px) and (min-height: 320px) {
	.bannerText {
		font-size: 2.4rem;
		line-height: 50px;
	}
	
	.banner {
		height: 52px;
	}
	
	.nav {
		font-size: 0.7rem;
	}
	
	.navButton {
		padding: 0 6px;
	}
	
	.navShadow {
		padding: 10px 2px 0 2px;
	}
	
	.screenContainer {
		top: 82px;
	}
}

@media (min-width: 460px) and (min-height: 320px) {
	.navButton {
		padding: 0 10px;
	}
}

@media (min-width: 500px) and (min-height: 320px) {
	.bannerText {
		font-size: 3rem;
		line-height: 58px;
	}
	
	.nav {
		padding-left: 20px;
		height: 24px;
	}
	
	.navLink {
		line-height: 24px;
	}
	
	.navShadow {
		padding: 20px 6px 0 6px;
		overflow: hidden;
	}
	
	.navButton {
		box-shadow: 0 0 8px 0 rgb(0, 0, 0);
		padding: 0 14px;
	}
	
	.screenContainer {
		top: 96px;
	}
	
	.verticalBorder {
		right: 30px;
	}

	.horizontalBorder {
		bottom: 15px
	}
	
	.squareBorder {
		right: 30px;
		bottom: 15px
	}
}

@media (min-width: 600px) and (min-height: 320px) {
	.navShadow {
		padding: 20px 12px 0 12px;
	}
	
	.navButton {
		box-shadow: 0 0 14px 0 rgb(0, 0, 0);
	}
}
	
@media (min-width: 700px) and (min-height: 320px) {
	.bannerText {
		font-size: 3.4rem;
	}
	
	.nav {
		font-size: 0.9rem;
	}
	
	.navButton {
		padding: 0 20px;
	}
}

@media (min-width: 900px) and (min-height: 400px) {
	.banner {
		height: 60px;
	}
	
	.bannerText {
		font-size: 4rem;
		line-height: 62px;
	}
	
	.nav {
		height: 28px;
		font-size: 1rem;
	}
	
	.navLink {
		line-height: 28px;
	}
	
	.navButton {
		padding: 0 30px;
	}
	
	.screenContainer {
		top: 108px;
	}
}

@media (min-width: 1000px) and (min-height: 400px) {
	.nav {
		height: 32px;
	}
	
	.navLink {
		line-height: 32px;
	}
	
	.navShadow {
		padding: 20px 20px 0 20px;
	}
	
	.navButton {
		padding: 0 40px;
	}
	
	.screenContainer {
		top: 112px;
	}
}

@media (min-width: 1000px) and (min-height: 400px) {
	.nav {
		height: 36px;
		margin: 20px 0 0 50px;
		padding-left: 40px;
		font-size: 1rem;
	}
	
	.navLink {
		line-height: 36px;
	}
	
	.navShadow {
		position: relative;
		top: -20px;
		left: -20px;
	}
	
	.navButton {
		border-top-left-radius: 8px;
		border-top-right-radius: 8px;
		box-shadow: 0 0 14px 0 rgb(0, 0, 0);
	}
	
	.screenContainer {
		top: 116px;
		left: 50px;
		right: 50px;
	}
	
	.footer {
		right: 20px;
	}

	.footerText {
		margin-right: 30px;
	}
}

@media (min-width: 1000px) and (min-height: 600px){
	.banner {
		height: 100px;
	}

	.bannerText {
		line-height: 100px;
	}
	
	.nav {
		height: 36px;
		font-size: 1rem;
	}
	
	.navLink {
		line-height: 36px;
	}

	.screenContainer {
		top: 155px;
		bottom: 50px;
	}
	
	.footer {
		bottom: 10px;
		height: 30px;
	}

	.footerText {
		line-height: 30px;
		font-size: 1rem;
	}

	
@media (min-width: 1200px) and (min-height: 360px) {
	.nav {
		font-size: 1.2rem;
	}
}

@media (min-width: 1400px) and (min-height: 360px) {
	.nav {
		font-size: 1.3rem;
	}
	
	.navButton {
		padding: 0 50px;
	}
}