body {
	font-family: 'latoregular';
	box-sizing: border-box;
}

.index-Background {
	position: absolute;
	top: 0;
    	bottom: 0;
    	left: 0;
    	right: 0;
	background: repeating-linear-gradient(-45deg, #EEE, #EEE 10px, #DDD 10px, #DDD 20px);
}

.index-PageContentContainer {
	background-color: #b22222;
	box-shadow: 0 0 20px 0 rgb(0, 0, 0);
	position: absolute;
	top: 58px;
	bottom: 24px;
	left: 8px;
	right: 8px;
	border-radius: 8px;
}

.index-PageBanner {
	height: 40px;
	line-height: 34px;
	text-align: center;
	color: #b22222;
}

.index-PageBannerText {
	font-size: 1.8rem;
	text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0,0,0,.1), 0 0 5px rgba(0,0,0,.1), 0 1px 3px rgba(0,0,0,.3), 0 3px 5px rgba(0,0,0,.2), 0 5px 10px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.3), 0 20px 20px rgba(0,0,0,.25);
}

.index-Nav {
	font-size: 0.6rem;
	height: 18px;
	text-align: center;
}

.index-NavShadow {
	display: inline-block;
}

.index-NavButton {
	display: inline-block;
	padding: 0 4px;
	background-color: #383838;
	background-image:
		repeating-linear-gradient(120deg, rgba(255,255,255,.1), rgba(255,255,255,.1) 1px, transparent 1px, transparent 60px),
		repeating-linear-gradient(60deg, rgba(255,255,255,.1), rgba(255,255,255,.1) 1px, transparent 1px, transparent 60px),
		linear-gradient(60deg, rgba(0,0,0,.1) 25%, transparent 25%, transparent 75%, rgba(0,0,0,.1) 75%, rgba(0,0,0,.1)),
		linear-gradient(120deg, rgba(0,0,0,.1) 25%, transparent 25%, transparent 75%, rgba(0,0,0,.1) 75%, rgba(0,0,0,.1));
	background-size: 70px 120px;
	cursor: pointer;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	box-shadow: 0 -5px 14px -5px rgb(0, 0, 0);
}

.index-NavButton:hover {
	background-color: #b22222;
}

.index-NavButton-active {
	background: 0;
	background-color: #b22222;
	cursor: default;
	z-index: 2;
	position: relative;
}

.index-NavButton-active:hover{
	background-color: #b22222;
}

.index-NavLink {
	line-height: 18px;
	color: #EEE;
}

.index-PageContent {
	width: 95%;
	height: 98%;
	padding-right: 18px;
	padding-bottom: 12px;
	position: relative;
	opacity: 0;
}

.index-PageFooter {
	text-align: right;
	height: 22px;
	position: absolute;
	bottom: 0px;
	right: 0;
	width: 100%;
}

.index-PageFooterText {
	color: #383838;
	line-height: 22px;
	margin-right: 8px;
	font-size: 0.8rem;
}

.index-VerticalBorder {
	width: 18px;
	height: 100%;
	margin-right: 4px; /* Fix scrollbar centering issues on <400px wide screens */
	background-color: #383838;
	background-image:
		repeating-linear-gradient(120deg, rgba(255,255,255,.1), rgba(255,255,255,.1) 1px, transparent 1px, transparent 60px),
		repeating-linear-gradient(60deg, rgba(255,255,255,.1), rgba(255,255,255,.1) 1px, transparent 1px, transparent 60px),
		linear-gradient(60deg, rgba(0,0,0,.1) 25%, transparent 25%, transparent 75%, rgba(0,0,0,.1) 75%, rgba(0,0,0,.1)),
		linear-gradient(120deg, rgba(0,0,0,.1) 25%, transparent 25%, transparent 75%, rgba(0,0,0,.1) 75%, rgba(0,0,0,.1));
	background-size: 70px 120px;
	position: absolute;
	top: 0;
	right: 5%;
	box-shadow: 0 0 6px 0 rgb(0, 0, 0);
}

.index-HorizontalBorder {
	width: 100%;
	height: 12px;
	background-color: #383838;
	background-image:
		repeating-linear-gradient(120deg, rgba(255,255,255,.1), rgba(255,255,255,.1) 1px, transparent 1px, transparent 60px),
		repeating-linear-gradient(60deg, rgba(255,255,255,.1), rgba(255,255,255,.1) 1px, transparent 1px, transparent 60px),
		linear-gradient(60deg, rgba(0,0,0,.1) 25%, transparent 25%, transparent 75%, rgba(0,0,0,.1) 75%, rgba(0,0,0,.1)),
		linear-gradient(120deg, rgba(0,0,0,.1) 25%, transparent 25%, transparent 75%, rgba(0,0,0,.1) 75%, rgba(0,0,0,.1));
	background-size: 70px 120px;
	position: absolute;
	bottom: 2%;
    	box-shadow: 0 0 6px 0 rgb(0, 0, 0);
}

.index-SquareBorder {
	width: 36px;
	height: 24px;
	background-color: #383838;
	background-image:
		repeating-linear-gradient(120deg, rgba(255,255,255,.1), rgba(255,255,255,.1) 1px, transparent 1px, transparent 60px),
		repeating-linear-gradient(60deg, rgba(255,255,255,.1), rgba(255,255,255,.1) 1px, transparent 1px, transparent 60px),
		linear-gradient(60deg, rgba(0,0,0,.1) 25%, transparent 25%, transparent 75%, rgba(0,0,0,.1) 75%, rgba(0,0,0,.1)),
		linear-gradient(120deg, rgba(0,0,0,.1) 25%, transparent 25%, transparent 75%, rgba(0,0,0,.1) 75%, rgba(0,0,0,.1));
	position: absolute;
	right: 5%;
	bottom: 2%;
	margin-right: -9px;
	margin-bottom: -6px;
    	box-shadow: 0 0 20px 0 rgb(0, 0, 0);
	border-radius: 8px;
	transform: rotate(-45deg);
}

.fade {
	-webkit-transition:  opacity 1000ms;
	transition: opacity 1000ms;
	opacity: 1;
}

.hidden {
	display: none;
}

.bold {
	font-weight: bold;
}

@media (min-width: 340px) {
	.index-Nav {
		text-align: left;
		padding-left: 20px;
		height: 20px;
	}
	
	.index-NavLink {
		line-height: 20px;
	}
	
	.index-NavShadow {
		padding: 0 1px 0 1px;
	}
	
	.index-PageContentContainer {
		top: 60px;
`   }
}

@media (min-width: 360px) {
	.index-PageBannerText {
		font-size: 2rem;
	}
	
	.index-PageBanner {
		height: 44px;
	}
	
	.index-Nav {
		font-size: 0.65rem;
	}
	
	.index-NavButton {
		padding: 0 5px;
	}
	
	.index-PageContentContainer {
		top: 64px;
    }
}

@media (min-width: 370px) {
	.index-VerticalBorder {
		margin-right: 0;
	}
}

@media (min-width: 400px) and (min-height: 320px) {
	.index-PageBannerText {
		font-size: 2.4rem;
		line-height: 50px;
	}
	
	.index-PageBanner {
		height: 52px;
	}
	
	.index-Nav {
		font-size: 0.7rem;
	}
	
	.index-NavButton {
		padding: 0 6px;
	}
	
	.index-NavShadow {
		padding: 10px 2px 0 2px;
	}
	
	.index-PageContentContainer {
		top: 82px;
	}
}

@media (min-width: 460px) and (min-height: 320px) {
	.index-NavButton {
		padding: 0 10px;
	}
}

@media (min-width: 500px) and (min-height: 320px) {
	.index-PageBannerText {
		font-size: 3rem;
		line-height: 58px;
	}
	
	.index-Nav {
		padding-left: 20px;
		height: 24px;
	}
	
	.index-NavLink {
		line-height: 24px;
	}
	
	.index-NavShadow {
		padding: 20px 6px 0 6px;
		overflow: hidden;
	}
	
	.index-NavButton {
		box-shadow: 0 0 8px 0 rgb(0, 0, 0);
		padding: 0 14px;
	}
	
	.index-PageContentContainer {
		top: 96px;
	}

	
	.index-PageContent {
		width: 100%;
		height: 100%;
		padding-right: 48px;
		padding-bottom: 27px;
	}

	.index-VerticalBorder {
		right: 30px;
	}

	.index-HorizontalBorder {
		bottom: 15px
	}

	.index-SquareBorder {
		right: 30px;
		bottom: 15px
	}
}

@media (min-width: 600px) and (min-height: 320px) {
	.index-NavShadow {
		padding: 20px 12px 0 12px;
	}
	
	.index-NavButton {
		box-shadow: 0 0 14px 0 rgb(0, 0, 0);
	}
}
	
@media (min-width: 700px) and (min-height: 320px) {
	.index-PageBannerText {
		font-size: 3.4rem;
	}
	
	.index-Nav {
		font-size: 0.9rem;
	}
	
	.index-NavButton {
		padding: 0 20px;
	}
}

@media (min-width: 900px) and (min-height: 400px) {
	.index-PageBanner {
		height: 60px;
	}
	
	.index-PageBannerText {
		font-size: 4rem;
		line-height: 62px;
	}
	
	.index-Nav {
		height: 28px;
		font-size: 1rem;
	}
	
	.index-NavLink {
		line-height: 28px;
	}
	
	.index-NavButton {
		padding: 0 30px;
	}
	
	.index-PageContentContainer {
		top: 108px;
	}
}

@media (min-width: 1000px) and (min-height: 400px) {
	.index-Nav {
		height: 32px;
	}
	
	.index-NavLink {
		line-height: 32px;
	}
	
	.index-NavShadow {
		padding: 20px 20px 0 20px;
	}
	
	.index-NavButton {
		padding: 0 40px;
	}
	
	.index-PageContentContainer {
		top: 112px;
	}
}

@media (min-width: 1000px) and (min-height: 400px) {
	.index-Nav {
		height: 36px;
		margin: 20px 0 0 50px;
		padding-left: 40px;
		font-size: 1rem;
	}
	
	.index-NavLink {
		line-height: 36px;
	}
	
	.index-NavShadow {
		position: relative;
		top: -20px;
		left: -20px;
	}
	
	.index-NavButton {
		border-top-left-radius: 8px;
		border-top-right-radius: 8px;
		box-shadow: 0 0 14px 0 rgb(0, 0, 0);
	}
	
	.index-PageContentContainer {
		top: 116px;
		left: 50px;
		right: 50px;
	}
	
	.index-PageFooter {
		right: 20px;
	}

	.index-PageFooterText {
		margin-right: 30px;
	}
}

@media (min-width: 1000px) and (min-height: 600px){
	.index-PageBanner {
		height: 100px;
	}

	.index-PageBannerText {
		line-height: 100px;
	}
	
	.index-Nav {
		height: 36px;
		font-size: 1rem;
	}
	
	.index-NavLink {
		line-height: 36px;
	}

	.index-PageContentContainer {
		top: 155px;
		bottom: 50px;
	}
	
	.index-PageFooter {
		bottom: 10px;
		height: 30px;
	}

	.index-PageFooterText {
		line-height: 30px;
		font-size: 1rem;
	}
}
	
@media (min-width: 1200px) and (min-height: 360px) {
	.index-Nav {
		font-size: 1.2rem;
	}
}

@media (min-width: 1400px) and (min-height: 360px) {
	.index-Nav {
		font-size: 1.3rem;
	}
	
	.index-NavButton {
		padding: 0 50px;
	}
}
