.info-CenteringContainer {
	width: 100%;
	height: 100%;
	display: table;
}

.info-TitleContainer {
	vertical-align: middle;
	display: table-cell;
    padding-bottom: 130px;
}

.info-Banner {
	position: absolute;
	top: 50%;
	left: 140px;
	right: 140px;
	padding-bottom: 130px;
	transform: translateY(-50%);
}

.info-Post {
	width: 500px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
}

.info-PostTitle {
	color: #EEE;
	background-color: #484848;
	background-image:
		repeating-linear-gradient(120deg, rgba(255,255,255,.1), rgba(255,255,255,.1) 1px, transparent 1px, transparent 60px),
		repeating-linear-gradient(60deg, rgba(255,255,255,.1), rgba(255,255,255,.1) 1px, transparent 1px, transparent 60px),
		linear-gradient(60deg, rgba(0,0,0,.1) 25%, transparent 25%, transparent 75%, rgba(0,0,0,.1) 75%, rgba(0,0,0,.1)),
		linear-gradient(120deg, rgba(0,0,0,.1) 25%, transparent 25%, transparent 75%, rgba(0,0,0,.1) 75%, rgba(0,0,0,.1));
	background-size: 70px 120px;
	padding: 0 4px;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	position: relative;
	top: -2px;
	left: 8px;
    padding: 0 10px;
}

.info-PostContent {
	font-size: 1.6rem;
	padding: 20px;
	color: #484848;
	background-color: #EEE;
	border-radius: 8px;
	box-shadow: inset 0 0 20px 0 rgb(0, 0, 0);
	border: 1px solid #484848;
	text-align: center;
}

.info-PostFooter {
	color: #EEE;
	background-color: #484848;
	background-image:
		repeating-linear-gradient(120deg, rgba(255,255,255,.1), rgba(255,255,255,.1) 1px, transparent 1px, transparent 60px),
		repeating-linear-gradient(60deg, rgba(255,255,255,.1), rgba(255,255,255,.1) 1px, transparent 1px, transparent 60px),
		linear-gradient(60deg, rgba(0,0,0,.1) 25%, transparent 25%, transparent 75%, rgba(0,0,0,.1) 75%, rgba(0,0,0,.1)),
		linear-gradient(120deg, rgba(0,0,0,.1) 25%, transparent 25%, transparent 75%, rgba(0,0,0,.1) 75%, rgba(0,0,0,.1));
	background-size: 70px 120px;
	padding: 0 4px;
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
	position: absolute;
	right: 124px;
    padding: 0 10px;
	transform: translateX(50%);
	margin-top: -1px;
	line-height: 22px;
}

.info-Footer {
	position: absolute;
	text-align: center;
	bottom: 80px;
	color: #EEE;
	left: 70px;
	right: 70px;
}

@media screen and (min-width: 1200px) {
	.info-Content {
		font-size: 2rem;
	}
	
	.info-Footer {
		font-size: 1.2rem;
		margin-left: 80px;
		margin-right: 80px;
	}
}


@media screen and (min-height: 600px) {
	.info-Content {
		font-size: 2.6rem;
		padding: 30px;
	}
}