/* Extra small devices (phones). Aim to have tiles take up most of the screen to make them easier to see. */
html 
{
	font-size: 55%;
	color: #EEEEEE;
	overflow-x: hidden;
}

a 
{ 
	color: inherit; 
	text-decoration: inherit;
}

.background 
{
	background-color: #EEEEEE;
	font-family: 'Raleway';
}

.fullscreenContainer 
{
	background-color: #2ECC71;
	width: 100vw;
	height: 100vh;
	display: -webkit-flex;
	display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
}

.nav 
{
	background-color: #22313F;
}

.navList 
{
	display: -webkit-flex;
	display: flex;
}

.content 
{
	height: 100%;
	position: relative;
    -webkit-justify-content: center;
    justify-content: center;
	opacity: 0;
}

.fade 
{
	-webkit-transition:  opacity 500ms;
	transition: opacity 500ms;
	opacity: 1;
}

.footer 
{
	text-align: center;
	position: absolute;
	width: 100%;
	left: 0;
	bottom: 2%;
	padding: 4px;
	background-color: #2ECC71;
	box-sizing: border-box;
}

.navElement 
{
	padding: 10px;
	margin: auto;
	-webkit-transition: all 500ms ease-in-out;
	transition: all 500ms ease-in-out;
}

.navElement:hover 
{
	background-color: #EEEEEE;
	box-shadow: 0 0 10px 0 rgba(238, 238, 238, 0.25);
	color: #22313F;
	cursor: pointer;
}

.activeNavElement 
{
	background-color: #EEEEEE;
	box-shadow: 0 0 10px 0 rgba(238, 238, 238, 0.25);
	color: #22313F;
}

.navLink 
{
	vertical-align: middle;
}

.triangle 
{
	display: inline-block;
	width: 0; 
	height: 0;
	vertical-align: middle;
	border-top: 4px solid transparent; 
	border-bottom: 4px solid transparent;
}

.triangleLeft  
{
	border-left: 8px solid #2ECC71; 
}

.triangleRight  
{
	border-right: 8px solid #2ECC71; 
}

.titleText 
{
	font-size: 4rem;
	padding-bottom: 12px;
	text-align: center;
}

.headerText 
{
	font-size: 2rem;
	padding: 6px 4px;
	text-align: center;
}

.standardText 
{
	font-size: 1.2rem;
}

.scrollingContent 
{
	background-color: #2ECC71;
	text-align: center;
	overflow-y: auto;
}

.columnFlex 
{
	display: -webkit-flex;
	display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
}

.tile
{
	background-color: #22313F;
	box-sizing: border-box;
	position: relative;
	display: inline-block;
	vertical-align: top;
	width: 280px;
	height: 280px;
	max-height: 280px;
	margin: 8px;
	padding: 4px;
	-webkit-transition: all 1000ms ease-in-out;
	transition: all 1000ms ease-in-out;
}

.tile:hover
{
	background-color: #EEEEEE;
	color: #22313F;
	cursor: pointer;
	box-shadow: 0 0 10px 0 rgba(238, 238, 238, 0.5)
}

.tileNumber
{
	display: none;
}

.tileHeader 
{
	font-size: 2rem;
	padding: 6px 4px;
	text-align: center;
}

.tileText 
{
	font-size: 1.2rem;
	padding-bottom: 10px;
}

.tileDescription 
{
	position: absolute;
	bottom: 0;
	left: 0;
	padding: 12px;
}

.tileImage 
{
	margin: auto;
	width: auto;
	height: 175px;
	max-width: 220px;
}

article.activeTile
{
	width: 90%;
	height: auto;
	max-height: 100%;
	background-color: #EEEEEE;
	color: #22313F;
	overflow-y: auto;
	padding: 4px;
	box-shadow: 0 0 10px 0 rgba(238, 238, 238, 0.5)
}

.activeTileTitle
{
	font-size: 2.6rem;
	padding: 4px;
	text-align: center;
}

.activeTileHeader
{
	font-size: 1.4rem;
	text-align: center;
	padding-bottom: 8px;
}

.activeTileText
{
	font-size: 1.2rem;
	padding: 4px;
	text-align: left;
	clear: both;
}

.bold
{
	font-weight: bold;
}

.downloadLink
{
	color: #0000EE;
	text-decoration: underline;
}

.downloadLink:visited
{
	color: #551A8B;
}

.downloadLink:active
{
	color: #FF0000;
}
.galleryFrame
{
	margin: 8px;
	padding: 8px;
	background-color: #FFFFFF;
	box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
	display: inline-block;
	max-width: 90%;
 	vertical-align: middle; 
}

.galleryImage
{
	width: auto;
	height: 50px;
	max-width: 150px;
	max-height: 50px;
	-webkit-transition: all 1000ms ease-in-out;
	transition: all 1000ms ease-in-out;
	border: 1px solid black;
	box-sizing: border-box;
}

.galleryImageActive
{
	width: 100%;
	height: auto;
	max-width: 100%;
	max-height: 300px;
}

.video
{
	width: 100%;
	height: auto;
	max-width: 1280px;
	max-height: 720px;
}

/* Landscape phones. Make tiles fill the available horizontal space. */
@media (orientation: landscape)
{
	.tile 
	{
		width: 200px;
		height: 200px;
		max-height: 200px;
		margin: 4px;
	}
	
	.tileImage 
	{
		height: 100px;
		max-width: 140px;
	}
	
	.tileHeader 
	{
		font-size: 1.6rem;
	}
	
	.tileText {
		font-size: 1rem;
	}
	
	.tileDescription 
	{
		padding: 8px;
	}
}

/* Small devices (tablets) */
@media (min-width: 768px) 
{
	html 
	{
		font-size: 70%;
	}
	
	.navElement 
	{
		margin: auto;
	}
	
	.tile 
	{
		width: 220px;
		height: 220px;
		max-height: 220px;
		padding: 6px;
	}
	
	.tileImage 
	{
		height: 120px;
		max-width: 180px;
	}
	
	.largeTile 
	{
		width: 360px;
		height: 360px;
		max-height: 360px;
		margin-top: 30px;
	}
	
	.largeTileImage 
	{
		height: 220px;
		max-width: 300px;
	}
	
	.tileHeader 
	{
		font-size: 1.3rem;
	}

	.tileText 
	{
		font-size: 0.8rem;
		padding-bottom: 12px;
	}
	
	.largeTileHeader 
	{
		font-size: 2.0rem;
	}
	
	.largeTileText 
	{
		font-size: 1.2rem;
	}
	
	article.activeTile
	{
		padding: 8px;
	}
	
	.activeTileTitle
	{
		padding-top: 24px;
	}
	
	.activeTileHeader
	{
		padding-bottom: 24px;
	}
	
	.activeTileText
	{
		padding: 12px 24px;
	}
	
	.galleryFrame
	{
		margin: 16px;
	}
	
	.galleryImage
	{
		height: 100px;
		max-width: 300px;
		max-height: 100px;
	}
	
	.galleryImageActive
	{
		height: auto;
		width: 100%;
		max-width: 100%;
		max-height: 500px;
	}
	
	.video
	{
		width: 600px;
		height: 337.5px;
	}
}

/* Landscape tablets. Make tiles fill the available horizontal space. */
@media (min-width: 768px) and (orientation: landscape) 
{
	.tile 
	{
		width: 200px;
		height: 200px;
		max-height: 200px;
	}
	
	.tileImage 
	{
		height: 100px;
		max-width: 160px;
	}

	.tileText 
	{
		font-size: 0.75rem;
	}
	
	.tileHeader 
	{
		font-size: 1.2rem;
	}
	
	.largeTile 
	{
		width: 400px;
		height: 400px;
		max-height: 400px;
		margin: 30px 8px 8px 8px;
	}
	
	.largeTileImage 
	{
		height: 270px;
		max-width: 340px;
	}
	
	.largeTileHeader 
	{
		font-size: 2.0rem;
	}
	
	.largeTileText 
	{
		font-size: 1.2rem;
	}
	
	.video
	{
		width: 640px;
		height: 360px;
	}
}

/* Medium devices (desktops) */
@media (min-width: 980px) 
{ 
	.background 
	{
		height: 100vh;
		display: -webkit-flex;
		display: flex;
		-webkit-align-items: center;
		align-items: center;
		-webkit-justify-content: center;
		justify-content: center;
	}
	
	.fullscreenContainer 
	{
		-webkit-flex-direction: row;
		flex-direction: row;
	}
	
	.content 
	{
		width: 100%;
	}
	
	.nav 
	{
		width: 170px;
	}
	
	.navList 
	{
		padding-top: 26px;
		-webkit-flex-direction: column;
		flex-direction: column;
	}
 }

/* Large devices */
@media (min-width: 1200px) 
{ 
	html 
	{
		font-size: 80%;
	}
	
	.fullscreenContainer 
	{
		width: 1200px;
		box-shadow: 0 0 10px 0 rgb(0, 0, 0);
	}
	
	.nav 
	{
		width: 200px;
	}
	
	.tile 
	{
		margin: 8px;
		width: 230px;
		height: 230px;
		max-height: 230px;
	}
	
	.tileImage 
	{
		height: 120px;
		max-width: 180px;
	}
	
	.largeTile 
	{
		margin: 30px 8px 8px 8px;
		width: 460px;
		height: 460px;
		max-height: 460px;
	}
	
	.largeTileImage 
	{
		height: 320px;
		max-width: 400px;
	}
}

/* Largest devices */
@media (min-width: 1600px) 
{ 
	html 
	{
		font-size: 100%;
	}
	
	.fullscreenContainer 
	{
		width: 92vw;
	}
	
	.tile 
	{
		width: 320px;
		height: 320px;
		max-height: 320px;
	}
	
	.tileImage
	{
		height: 200px;
		max-width: 280px;
	}
	
	.tileHeader 
	{
		font-size: 1.4rem;
	}
	
	.tileText 
	{
		font-size: 0.8rem;
	}
	
	.largeTile 
	{
		width: 600px;
		height: 600px;
		max-height: 600px;
	}
	
	.largeTileImage 
	{
		height: 400px;
		max-width: 540px;
	}
	
	.largeTileHeader 
	{
		font-size: 2rem;
	}
	
	.largeTileText 
	{
		font-size: 1.2rem;
		padding: 8px 8px 20px 8px;
	}
}

/* Edge Cases */

/* Devices with width < 380px cause the nav bar to become distorted. To fix this the buttons are unevenly distributed, 
   after this size even distribution is not an issue however. */
@media (min-width: 380px) 
{
	.navText 
	{
		font-size: 1rem;
	}
	
	.navElement 
	{
		padding: 10px 0;
		width: 100%;
		text-align: center;
	}
}

/* Make a border on large monitors. */
@media (min-height: 700px) and (min-width: 1280px) and (orientation: landscape) 
{
	.fullscreenContainer 
	{
		height: 97vh;
	}
}

/* Make a bigger border on larger monitors. */
@media (min-height: 800px) and (min-width: 1280px) and (orientation: landscape) 
{
	.fullscreenContainer 
	{
		height: 95vh;
	}
}

/* After a certain point, the background should just scale as a percentage. */
@media (min-width: 1900px) 
{ 
	.fullscreenContainer
	{
		width: 90vw;
	}
}

/* Fix selected nav button taking two lines on really small (<315px width) screens. */
@media (max-width: 315px) 
{
	.navText 
	{
		font-size: 0.9rem;
	}
}