.tile-Container {
	text-align: center;
	overflow-y: auto;
    	position: absolute;
    	left: 0;
    	right: -5%; /* For scrollbar, see centering container for vertical border's offset */
    	top: 10px;
	bottom: 22px; /* Horizontal border offset + 10px padding */
	
	/* Modern IE scrollbars */
	scrollbar-3dlight-color: #383838;
	scrollbar-arrow-color: #b22222;
	scrollbar-base-color: #383838;
	scrollbar-darkshadow-color: #383838;
	scrollbar-face-color: #383838;
	scrollbar-highlight-color: #b22222;
	scrollbar-shadow-color: #383838;
}

.tile-CenteringContainer {
	height: 100%;
	margin-right: 26px; /* Vertical border offset */
}

.tile-CenteringContainer.tile-CenteringContainerLarge {
	padding-right: 42px;
}

.tile-Tile {
	background-color: #383838;
	box-sizing: border-box;
	position: relative;
	display: inline-flex;
    	flex-direction: column;
	vertical-align: top;
	width: 170px;
	height: 170px;
	max-height: 170px;
	margin: 8px;
	padding: 4px;
	transition: width 1000ms ease-in-out, max-height 1000ms ease-in-out;
	border-radius: 8px;
	box-shadow: 0 0 8px 0 rgb(0, 0, 0);
	color: #EEE;
	cursor: pointer;
}

.tile-Tile.tile-TileLarge {
	margin-top: 6px;
	margin-bottom: 0;
}

.tile-Tile:hover {
	color: #383838;
	background-color: #EEE;
}

.tile-Tile.tile-Tile-active {
	width: 95%;
	height: 100%;
	max-height: 100%;
	margin: 0;
	box-shadow: inset 0 0 20px 0 rgb(0, 0, 0);
	color: #383838;
	background-color: #EEE;
	border: 1px solid #383838;
	overflow-y: auto;
}

.tile-Title {
	font-size: 0.7rem;
	padding: 4px 2px;
	text-align: center;
}

.tile-Subtitle {
	font-size: 0.45rem;
	padding-bottom: 4px;
}

.tile-Image {
	margin: auto;
	width: 80px;
	height: 80px;
	background-size: 100%;
	background-repeat: no-repeat;
    	border-radius: 40px;
	box-shadow: 0 0 14px;
}

.tile-LoadedImage {
	width: 100%;
	height: 100%;
	border-radius: 50%;
}

.tile-Spinner {
	width: 100%;
    	height: 100%;
    	position: relative;
}

.tile-Bounce1, .tile-Bounce2 {
  	width: 100%;
  	height: 100%;
 	border-radius: 50%;
  	background-color: #EEE;
  	opacity: 0.6;
  	position: absolute;
  	top: 0;
  	left: 0;
  
  	-webkit-animation: sk-bounce 3.0s infinite ease-in-out;
  	animation: sk-bounce 3.0s infinite ease-in-out;
}

.tile-Bounce2 {
  	-webkit-animation-delay: -1.0s;
 	 animation-delay: -1.0s;
}

.tile-Description {
	font-size: 0.6rem;
	padding: 4px;
}

@media (orientation: portrait) {
	.tile-Tile.tile-TileLarge {
		position: absolute;
		top: 1%;
		left: 1%;
		right: 1%;
		bottom: 49%;
		margin: 0;
	}
	
	.tile-Tile.tile-TileLarge + .tile-Tile.tile-TileLarge {
		top: 51%;
		bottom: 1%;
	}
}

@media (orientation: landscape) {
	.tile-Tile.tile-TileLarge {
		position: absolute;
		top: 1%;
		left: 1%;
		right: 49%;
		bottom: 1%;
		margin: 0;
	}
	
	.tile-Tile.tile-TileLarge + .tile-Tile.tile-TileLarge {
		left: 51%;
		right: 1%;
	}
}

@media (min-width: 350px) and (min-height: 350px) {
	.tile-Tile {
		width: 220px;
		height: 220px;
		max-height: 220px;
	}
	
	.tile-Image {
		width: 120px;
		height: 120px;
		border-radius: 60px;
	}
	
	.tile-Title {
		font-size: 0.8rem;
	}
	
	.tile-Subtitle {
		font-size: 0.6rem;
	}
	
	.tile-Description {
		font-size: 0.7rem;
	}
}
	
@media (min-width: 470px) and (min-height: 420px) {
	.tile-Tile {
		width: 270px;
		height: 270px;
		max-height: 270px;
	}
	
	.tile-Image {
		width: 140px;
		height: 140px;
		border-radius: 70px;
	}
	
	.tile-Title {
		font-size: 1rem;
	}
	
	.tile-Subtitle {
		font-size: 0.8rem;
	}
	
	.tile-Description {
		font-size: 0.9rem;
	}
}

@media (min-width: 500px) and (min-height: 320px) {
	.tile-Container {
		right: 7px;
		bottom: 37px;
	}
}

@media (min-width: 500px) and (min-height: 500px) {
	.tile-Tile {
		width: 320px;
		height: 320px;
		max-height: 320px;
		padding: 6px
	}
	
	.tile-Image {
		width: 180px;
		height: 180px;
		border-radius: 90px;
	}
	
	.tile-Title {
		font-size: 1.3rem;
		padding-top: 6px;
		padding-bottom: 6px;
	}
	
	.tile-Subtitle {
		font-size: 0.9rem;
	}
	
	.tile-Description {
		font-size: 1rem;
	}
}

@media (min-width: 600px) and (min-height: 600px) {
	.tile-Tile {
		margin: 16px;
	}
	
	.tile-TileLarge > .tile-Image {
		width: 160px;
		height: 160px;
		border-radius: 80px;
		margin-top: 16px;
		margin-bottom: 16px;
	}
	
	.tile-TileLarge > .tile-Title {
		font-size: 1.4rem;
		padding-top: 8px;
		padding-bottom: 8px;
	}
	
	.tile-TileLarge > .tile-Subtitle {
		font-size: 1rem;
	}
	
	.tile-TileLarge > .tile-Description {
		font-size: 1rem;
		padding-bottom: 6px;
	}
}

@media (min-width: 700px) and (min-height: 700px) {
	.tile-TileLarge > .tile-Image {
		width: 200px;
		height: 200px;
		border-radius: 100px;
	}
	
	.tile-TileLarge > .tile-Title {
		padding-top: 12px;
		padding-bottom: 12px;
	}
	
	.tile-TileLarge > .tile-Subtitle {
		font-size: 1.1rem;
	}
	
	.tile-TileLarge > .tile-Description {
		font-size: 1.1rem;
		padding-bottom: 6px;
	}
}

@media (min-width: 900px) and (min-height: 700px) {
	.tile-TileLarge > .tile-Image {
		width: 210px;
		height: 210px;
		border-radius: 105px;
	}
	
	.tile-TileLarge > .tile-Title {
		font-size: 1.5rem;
		padding-top: 8px;
		padding-bottom: 8px;
	}
	
	.tile-TileLarge > .tile-Subtitle {
		font-size: 1.1rem;
	}
	
	.tile-TileLarge > .tile-Description {
		font-size: 1.1rem;
		padding-bottom: 6px;
	}
}

@media (min-width: 1100px) and (min-height: 900px) {
	.tile-TileLarge > .tile-Image {
		width: 280px;
		height: 280px;
		border-radius: 140px;
	}
	
	.tile-TileLarge > .tile-Title {
		font-size: 2rem;
	}
	
	.tile-TileLarge > .tile-Subtitle {
		font-size: 1.5rem;
	}
	
	.tile-TileLarge > .tile-Description {
		font-size: 1.5rem;
	}
}

@media (min-width: 1600px) and (min-height: 900px) {
	.tile-Tile {
		width: 380px;
		height: 380px;
		max-height: 380px;
		padding: 8px
	}
	
	.tile-Image {
		width: 230px;
		height: 230px;
		border-radius: 115px;
	}
	
	.tile-Title {
		font-size: 1.5rem;
		padding-top: 8px;
		padding-bottom: 8px;
	}
}	

/* Animations */
@-webkit-keyframes sk-bounce {
  	0%, 100% { -webkit-transform: scale(0.0) }
  	50% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bounce {
  	0%, 100% { 
    		transform: scale(0.0);
    		-webkit-transform: scale(0.0);
  	} 50% { 
    		transform: scale(1.0);
    		-webkit-transform: scale(1.0);
  	}
}

/* Chrome Scrollbars */

::-webkit-scrollbar {
	width: 16px; 
} 

::-webkit-scrollbar-track { 
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0); 
} 

::-webkit-scrollbar-thumb { 
	background-color: #383838; 
	border-radius: 8px;
}

::-webkit-scrollbar-thumb:window-inactive { 
	background-color: #383838; 
}
